@font-face {
  font-family: "Formula1";
  src: url("fonts/Formula1.ttf") format("truetype");
}

html {
    font-family: 'Formula1', 'Open Sans', sans-serif;
	font-size: 14px;
	scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f4f1;
}

body#index-body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h1 + p {
    margin: 0;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 0;
}

#logo {
	max-height: 51px;
}

nav,
label#label-toggle-menu {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e10600;

    /* Navbar should displayed everytime at the top of the site */
    position: fixed;
    top: 0px;
}

nav ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: 0 auto;
}

nav ul li a#logo-link {
    padding: 0;
}

nav ul li a#logo-link:hover {
    background-color: initial;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.3rem 1.5rem;
}

nav ul li img {
    padding-right: 1.5rem;
}

nav ul li a:hover {
    background-color: #15151e;
}

input[type=checkbox]#toggle-menu {
    display: none;
}

label#label-toggle-menu {
    display: none;
    margin: 0;
}

main {
    width: 70%;
    margin: 0 auto;
    padding-top: 6rem;
}

body#index-body main {
    padding-top: 1rem;
    text-align: center;
}

body#index-body main div {
    text-align: center;
    height: 60%;
    margin-top: 1rem;
}

body#index-body main div img.cover {                
    transition: all 0.3s ease;
    filter: blur(0.6px) grayscale(0.4);
    margin: 0;
}

body#index-body main div img.cover:hover {
    transform: scale(1.04);
    filter: blur(0px) grayscale(0);
    cursor: pointer;
}

section {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 3rem;
}

nav#main-menu {
    text-align: center;
    font-size: 2rem;
}

div#settings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

div.settings-item {
    width: 200px;
    background-color: #f4f4f4;
    text-align: center;
}

img#live-indicator {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

img#finished-indicator {
    width: 56px;
    height: 34px;
    vertical-align: baseline;
}

table {
    width: 100%;
    border-spacing: 0;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tr th {
    font-size: 0.8rem;
    text-align: left;
    color: gray;
    padding: 1.3rem;
}

table tr td {
    font-size: 0.9rem;
    text-align: left;
    color: #4a4a4a;
    padding: 1.3rem;
}

table tr th.centered-column,
table tr td.centered-column {
    text-align: center;
}

table tr th.number-column,
table tr td.number-column {
    padding: 1.3rem 0.5rem 1.3rem 0 ;
}

table tr td.player {
    font-weight: bolder;
}

/* Team color */
table tr td div {
    display: inline-block;
    width: 3px;
    height: .9rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}

/* Team name */
table tr td p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

table tr td.fastestLap {
    color: #7900ca;
}

div#flag-link-container {
    margin-bottom: 2rem;
}

a.flag-link {
    text-decoration: none;
    margin-right: 0.7rem;
}

a.flag-link:last-of-type {
    margin-right: 0;
}

a.flag-link img {
    width: 48px;
}

a.flag-link img:hover {
    transition: all 0.1s ease;
    transform: scale(1.1);
}

footer {
    background-color: #15151e;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    color: #868686;
    margin: 0;
    padding: 1.5rem 0;
}

footer #go-top {
	position: fixed;
	background: url('img/arrow_up_64x46.png') no-repeat;
	width: 64px;
	height: 46px;
	border: none;
	bottom: 0;
	right: 0;
	opacity: 0.6;
	color: transparent;
}

@media only screen and (max-width: 1350px) {
    main {
        width: 85%;
    }

    nav ul {
        width: 100%;
    }
}

@media only screen and (max-width: 1090px) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 100%;
        padding-top: 0;
    }

    section {
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    label#label-toggle-menu {
        display: block;
        position: sticky;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.5rem 0;
    }    

    label#label-toggle-menu img {
        display: block;
        margin: 0 auto 0.5rem auto;
    }

    input[type=checkbox]#toggle-menu:checked + nav {
        display: initial;
        top: 92px; /* height of nav toggle */
    }

    nav {
        display: none;
        border-top: 1.8px #8a0000 solid;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li:first-of-type {
        display: none;
    }

    div#settings-container {
        flex-direction: column;
    }

    div.settings-item {
        margin: 1rem auto;
    }
    
    table tr th,
    table tr td {
        padding: 1rem 0.2rem;
    }

    a.flag-link img:hover,
    body#index-body main div img.cover:hover {
        transition: none;
        transform: none;
    }

    body#index-body main div img.cover {
        filter: blur(0px) grayscale(0);
    }
}