/* Team colors */
table tr td div.ferrari20 {
    background-color: #dc0000;
}

table tr td div.mercedes20 {
    background-color: #00D2BE;
}

table tr td div.red-bull20 {
    background-color: #0600ef;
}

table tr td div.mclaren20 {
    background-color: #FF8700;
}

table tr td div.alpha-tauri20 {
    background-color: #2b4562;
}

table tr td div.alfa-romeo20 {
    background-color: #960000;
}

table tr td div.williams20 {
    background-color: #0082FA;
}

table tr td div.racing-point20 {
    background-color: #F596C8;
}

table tr td div.haas20 {
    background-color: #787878;
}

table tr td div.renault20 {
    background-color: #FFF500;
}