/* Team colors */
table tr td div.ferrari21 {
    background-color: #dc0000;
}

table tr td div.mercedes21 {
    background-color: #00D2BE;
}

table tr td div.red-bull21 {
    background-color: #0600ef;
}

table tr td div.mclaren21 {
    background-color: #FF9800;
}

table tr td div.alpha-tauri21 {
    background-color: #2b4562;
}

table tr td div.alfa-romeo21 {
    background-color: #900000;
}

table tr td div.williams21 {
    background-color: #005aff;
}

table tr td div.aston-martin21 {
    background-color: #006f62;
}

table tr td div.haas21 {
    background-color: #eee;
}

table tr td div.alpine21 {
    background-color: #0090ff;
}